<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>アカウントの作成</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@100..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{register.css}">
</head>

<body>
    <section class="register">
        <div class="register-screen">
            <div class="register-title">
                <h1>アカウントの作成</h1>
            </div>
            <form class="register-form" th:action="@{/register}" method="POST">
                <div class="control-group">

                    <label class="register-field-icon" for="register-name">Username</label>
                    <input type="text" class="register-field" value="" placeholder="username" id="register-name" name="name">
                </div>
                <div class="control-group">
                    <label class="register-field-icon" for="register-password">Password</label>
                    <input type="text" class="register-field" value="" placeholder="password" id="register-password" name="password">
                </div>
                <div class="control-group">
                    <label class="register-field-icon" for="register-email">Email</label>
                    <input type="text" class="register-field" value="" placeholder="email" id="register-email" name="email">
                </div>
                <div class="control-position">
                        <input class="button" type="submit" value="register">
                </div>
            </form>
        </div>
    </section>
</body>

</html>